.prodCode{
    font-weight: 700;
    color: black;
}

.pcCard{
    /* background-color: #eeeeeecc;   */
    z-index: 0;
}

.leftSide{
    color: #404e44cb;
}

.rightSide{
    color: black;
    margin-left: 10px;
}

.list{
    list-style-type: none;
}

.removeBtn{
    height: 100%;
}
.headerInfo{
    display: flex;
}
.countBox{
    margin-bottom: 3px;
}
.innerInfo{
    position: absolute;
      font-size: 14px;
      background: #333;
      color: #ffffff;
      padding: 5px 8px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: 150ms transform;
      transform-origin:bottom center;
      bottom: 100%;
      left: 20%;
      margin-left: -60px;
      z-index: 55;
        
    }
.first{
          position: absolute;
          font-size: 14px;
          background:#333;
          color: #ffffff;
          padding: 5px 8px;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          pointer-events: none;
          transition: 150ms transform;
          transform-origin:top center;
          top: 100%;
          left: 20%;
          margin-left: -60px;
          z-index: 55;
            
        
}    
    .hasInfo .innerInfo::before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      background: #333;
      bottom: -3px;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .hasInfo:hover .innerInfo{
        opacity:1;
        /* transform: translateX(-120px) translateY(-30%); */
        visibility: visible;
        width: max-content;
        pointer-events: auto;

    }
    
    .hasInfo:hover{
        cursor: pointer;
    }
    .hasInfo{
        position: relative;
        display: inline-flex; 
    }

    .hasInfo .first::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #333;
        top: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .hasInfo:hover .first{
          opacity:1;
          /* transform: translateX(-120px) translateY(-30%); */
          visibility: visible;
          width: max-content;
          pointer-events: auto;
  
      }

      .makeOrder{
        text-align: center;
        background-color: #f4f6f9;
        padding: 1rem;
        border: 1px solid #d8dde6;
        width: 100vw;
        height: 12vh;
        position: absolute;
        top: 10;
        left: 0;
        z-index: 10;
      }

      .exampleHolder{
        width: 80px;
        height: 80px;
    }

    .space{
        margin-bottom: 17%;
    }
    
